DEPOTS_DIR=~/info/app_gn/
geonature_DIR=$DEPOTS_DIR/GeoNature

DEPOTS="GeoNature-2.6.2"

my_url=http://localhost/
drop_apps_db=false
db_host=localhost
db_port=5432
user_pg=xxx
user_pg_pass=xxx
taxhub_release=taxrefv14
usershub_release=2.1.3
taxhub_release=taxrefv14
habref_api_release=0.1.5
nomenclature_release=1.3.6
python_path=/usr/bin/python3
