atomicwrites==1.3.0
attrs==19.1.0
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
coverage==4.5.3
defusedxml==0.6.0
Fiona==1.8.6
future==0.17.1
GeoAlchemy==0.7.2
GeoAlchemy2==0.6.2
geopackage-python==2.0.0.8
mapbox-vector-tile==1.2.0
more-itertools==7.0.0
munch==2.3.2
Pillow==8.1.1
pluggy==0.9.0
protobuf==3.15.0
psycopg2==2.8.2
py==1.8.0
pyclipper==1.1.0.post1
pytest==4.4.1
pytest-cov==2.6.1
Shapely==1.6.4.post2
six==1.12.0
SQLAlchemy==1.3.3
