#############################################
# GeoNature backend global configuration file
#############################################

# Database uu
SQLALCHEMY_DATABASE_URI = ""postgresql://xxx:xxxx@xxx:xxx/xxx""
URL_APPLICATION = 'xxx/geonature' 
API_ENDPOINT = 'xxx/geonature/api'
API_TAXHUB = 'xxx/taxhub/api'

# Remplacer par une clé alétoire complexe
SECRET_KEY = 'super secret key'

# Code EPSG des geométries dans la BDD
LOCAL_SRID = 'xxxx'

# Langue principale par défaut
DEFAULT_LANGUAGE='fr'

PASS_METHOD = 'md5'


#######################################################################################
###### Si vous souhaitez surcoucher certains paramètres,
###### compléter les sections ci-dessous à partir du modèle default_config.toml.example
#######################################################################################

# Configuration liée aux ID de BDD
[BDD]

# Configuration générale du frontend
[FRONTEND]

# Configuration de la Synthese
[SYNTHESE]

# Configuration cartographique
[MAPCONFIG]
  CENTER = [16.1977009479195,-61.5394194522855 ]
  ZOOM_LEVEL = 10

# Configuration médias
[MEDIAS]
